* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* float */
.float-left {
    float: left;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: block;
}
/* /float */

/* container */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* header */
header h1 {
    padding: 30px 0;
    text-align: center;
    color: #e53170;
}
/* /header */

/* main */
/* Alternativa senza classe: 
    main > p:first-of-type */
.centered-paragraph {
    padding: 20px 0;
    text-align: center;
}

.raw {
    padding: 20px 0;
}

/* col */
.raw .col {
    width: 33.3%;
}

/* card */
.card {
    max-width: 95%;
    box-shadow: 0px 0px 5px #0f0e17;
    background-color: #0f0e17;
    color: white;
}

.col:first-of-type .card {
}

.col:nth-child(2) .card {
    margin: 0 auto;
}

.col:last-child .card {
    margin-right: 0;
    margin-left: auto;
}

.card img {
    margin-right: 20px;
    height: 100px;
    width: 100px;
    float: left;
}

/* info */
.info {
    padding-top: 10px;
}

.info h2 {
    font-size: 1.2em;
}

.info .role, .info .email {
    margin-top: 0.4em;
}

.info .email {
    color: #36aef4;
}
/* /info */
/* /card */
/* /col */
/* /main */
/* /container */